{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}


{% block content %}
<div class="container">
    <div class="row mt-5 bg-transparent">
        {% if all_comments %}
        <div class="col-md-7">
            <h3 class="text-center text-success">All Reviews</h3>
            {% for comment in all_comments %}
            <div class="card bg-transparent">
                <div class="card-body">
                    <h5>{{ comment.pitch.title }}</h5>
                    <p class="card-title">{{comment.comment}}</p>
                    <p class="card-text">----{{comment.user.username}}----</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-5 ">
            {{wtf.quick_form(form)}}
        </div>
    </div>
    {% else %}
        <div class="card mt-3">
            <div class="card-body">
                <h4 class="card-title">What do you think about this pitch?</h4>
            </div>

        <div class="card-text">
                {{wtf.quick_form(form)}}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
