{% extends 'base.html'%}
{% import 'macro.html' as macro %}

{% block content%}

<div class="container">
  <ul class="nav nav-pills nav-justified nav-fill" role="tablist">
    <li class="nav-item">
      <a class="nav-link active text-light" id="homCards" data-toggle="tab" href="#all"><strong>All Pitches</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" id="homCards" data-toggle="tab" href="#interview">Interview Pitches</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" id="homCards" data-toggle="tab" href="#business">Business Pitches</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" id="homCards" data-toggle="tab" href="#product">Product Pitches</a>
    </li>
  </ul>

</div>
<br> <br>

  <div class="tab-content">
    <div class="container tap-pan active" id="all">
      {{ macro.displayContent(pitches) }}
    </div>
    <div class="container tap-pan active" id="business">
      {{ macro.displayContent(business) }}
    </div>

    <div class="container tap-pan active" id="product">
      {{ macro.displayContent(product) }}
    </div>
    <div class="container tap-pan active" id="interview">
      {{ macro.displayContent(interview) }}
    </div>
  </div>
</div>

{% endblock %}
