{% extends 'base.html'%}
{% import 'macro.html' as macro %}

{% block content%}
<div class="container">
  <ul class="nav nav-pills nav-justified nav-fill" role="tablist">
    <li class="nav-item">
      <a class="nav-link active text-light" id="homCards" data-toggle="tab" href="#all"><strong>All Pitches</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" id="homCards" data-toggle="tab" href="#interview">Interview Pitches</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" id="homCards" data-toggle="tab" href="#business">Business Pitches</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" id="homCards" data-toggle="tab" href="#product">Product Pitches</a>
    </li>
  </ul>
<div class="container">
<div class="row bg-dark mt-5" id="welcome page">
  <div class="col-md-10"style = "height: 250px; font-size:20px;">
    <h3 class="text-white text-center mt-3">Your First impression matters</h3>
    <hr>
    <p class="text-center text-white">Image and what people think about us matters especially if you are someone looking to sell yourself as a person or sell products.
       This website helps you present yourself and see what people think about you through votes and comments</p>
  </div>
</div>
</div>

  <div class="tab-content">
    <div class="container tap-pan active" id="all">
      {{ macro.displayContent(pitches) }}
    </div>
    <div class="container tap-pan active" id="business">
      {{ macro.displayContent(interview) }}
    </div>

    <div class="container tap-pan active" id="product">
      {{ macro.displayContent(product) }}
    </div>
    <div class="container tap-pan active" id="interview">
      {{ macro.displayContent(interview) }}
    </div>
  </div>
</div>

{% endblock %}
