{% extends 'bootstrap/base.html' %}
{% macro displayContent(pitches) %}
<div class="row mt-5">
    {% if pitches %}
        {% for pitch in pitches %}
        <div class="col-md-6">
            <div class="thumbnail text-center">
                <h3 class="card-header">{{pitch.title}}</h3><br><br>
								<p> {{pitch.category}}</p>

                <!-- <h5 class="card-header">{{pitch.pitches}}</h5> -->
                <div class="card-body">
                    <blockquote>
                        <p>{{pitch.post}}</p>
                        <footer>
                            Posted by: {{pitch.user.username}}
                        </footer>

                    </blockquote>


                    <span>{{pitch.comment.count()}} Comments</span>
                    <span class="foot btn btn-success" > <a class="text-white" href="{{url_for('main.like',id = pitch.id)}}"><i class="fa fa-thumbs-up" style="font-size:18px;color: green"></i> {{pitch.upvote.count()}}Upvote</a></span>
                    <span class="foot btn btn-danger"> <a class="text-white" href="{{url_for('main.dislike',id = pitch.id)}}"> <i class="fa fa-thumbs-down" style="color:red;"></i> {{pitch.downvote.count()}}Downvote</a></span>
                    <a href="{{url_for('main.comment',pitch_id = pitch.id)}}" class="btn btn-info btn-sm"> Comment</a>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
    {% endif %}
</div>
{% endmacro %}
